<div class="table-wrapper open-invites">
    <h2>Completed Projects</h2>
    <table>
        <thead>
            <tr>
                <th>Project id#</th>
                <th>Description</th>
                <th>Project Due Date</th>
                <th>Completed Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each completeprojects}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.description}}</td>
                <td>{{this.dueDate}}</td>
                <td>{{this.updatedAt}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>