<div class="table-wrapper open-invites">
    <h2>Completed Projects</h2>
    <table>
        <thead>
            <tr>
                <th>Project id#</th>
                <th>Description</th>
                <th>Project Due Date</th>
                <th>Completed Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each project}}
            {{#if isComplete}}
            <tr>
                <td>{{id}}</td>
                <td>{{description}}</td>
                <td>{{dueDate}}</td>
                <td>{{updatedAt}}</td>
            </tr>
            {{/if}}
            {{/each}}
        </tbody>
    </table>
</div>