<div class="table-wrapper open-invites">
    <h2>Completed Projects</h2>
    <table>
        <thead>
            <tr>
                <th>Project id#</th>
                <th>Description</th>
                <th>Project Due Date</th>
                <th>Completed Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Item 1</td>
                <td>Ante turpis integer aliquet porttitor.</td>
                <td>2019-05-14</td>
                <td>2019-04-28</td>
            </tr>
        </tbody>
    </table>
</div>