<div class="col align-center">
    <div class="image round fit">
        <img src="/assets/img/pic04.png" alt="" />
    </div>
    <p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet.
        </p>
    <a href="#" class="button">Learn More</a>
</div>