<div class="col align-center">
    <div class="image round fit">
        <img src="/assets/img/juan.jpg" alt="" />
    </div>
    <p>Juan Varon</p>
    <p>Full-Stack Developer responsible for web security, user authentication and browser security.</p>
    <a href="https://github.com/juan-camilo11" class="button"><i class="fab fa-github"></i> Learn More</a>
</div>