<div class="col align-center">
    <div class="image round fit">
        <img src="/assets/img/marshall.png" alt="" />
    </div>
    <p>Marshall Theis
    </p>
    <p></p>
    <a href="Javascrit:;" class="button"><i class="fab fa-github"></i> Learn More</a>
</div>