<div class="col align-center">
    <div class="image round fit">
        <img src="/assets/img/patrick.jpg" alt="" />
    </div>
    <p>Patrick Wang</p>
    <p>Full-Stack Developer responsible for UI and web page structure development.</p>
    <a href="https://github.com/paichunwang" class="button"> <i class="fab fa-github"></i>Learn More</a>
</div>