<div class="col align-center">
    <div class="image round fit">
        <img src="/assets/img/spencer.png" alt="" />
    </div>
    <p>Spencer Callaway</p>
    <p>Full-Stack Developer responsible for database implementation, connection and maintenance</p>
    <a href="https://github.com/Spatson" class="button"><i class="fab fa-github"></i> Learn More</a>
</div>