<section class="wrapper style1">
    <div class="inner">
        <!-- 2 Columns -->
        <div class="flex flex-2">
            <div class="mol col1">
                <div class="image round fit">
                    <img src="/assets/img/pic01.jpg" alt="" />
                </div>
            </div>
            {{!-- Custom Mol conflicting with Col from jquery --}}
            <div class="mol col2">
                <h3>As a developer...</h3>
                <p>It is important to keep your skills fine tuned, and what better way to fine tune your skills than while building up 
                    your resume and making some money on the side? Dev tinder allows you to accomplish all of the above! By creating
                    an account, you will be eligible to work on a variety of freelance projects our customer user base have created!
                </p>
                <p>So what are you waiting for?! Create a free account today and start building your resume, honing your skills,
                    and making some money on the side!
                </p>
                <a href="/developerlogin" class="button">Start as a developer</a>
            </div>
        </div>
    </div>
</section>