<div class="profileparent">
    <div class="sidenav">
        <div class="image round fit">
            <img src="/assets/img/exampledeveloper.jpg" alt="" />
        </div>
        <div class="navlist">
            <h4>Laura Davis</h4>
            <a href="#about">About</a>
            <a href="#experience">Experience</a>
            <a href="#contrabution">Contrabution</a>
        </div>
    </div>
    <div class="profilebody">
        <div class="dev-profile-content" id="about">
            <h4>Laura Davis</h4>
            <p>An ambitious school leaver with eight strong GCSE passes and a commitment to pursuing a career in retail.
                Completed an enjoyable period of work experience at John Lewis, demonstrating a natural aptitude for interacting
                with customers and providing service with a smile. Played a key role in the school’s successful netball and
                hockey teams. Keen to secure an entry-level role with a fashion retailer, which will provide opportunities
                for further development and progression.</p>
        </div>
        <div class="dev-profile-content" id="experience">
            <h4>Angular</h4>
            <h4>CSS</h4>
            <h4>HTML</h4>
            <h4>Java</h4>
            <h4>Javascript</h4>
            <h4>Node.js</h4>
            <h4>React</h4>
        </div>
        <div class="dev-profile-content" id="contrabution">

        </div>
    </div>
</div>