<div class="profileparent">
    <div class="sidenav">
        <div class="image round fit">
            <img src="/assets/img/exampledeveloper.jpg" alt="" />
        </div>
        <div class="navlist">
            <h4>Laura Davis</h4>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
    </div>
    <div class="profilebody">
        <div class="dev-profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu leo mollis, euismod sem ut, tempor turpis. Donec a lacus vel massa mollis viverra. Phasellus dignissim lectus in enim placerat placerat. Nunc ac arcu eget nibh varius efficitur eget sed orci. Mauris libero nibh, vulputate a volutpat ut, ultrices ut est. Morbi dictum interdum accumsan. Nam ultricies sapien sit amet augue cursus, a laoreet neque pulvinar. Vivamus eleifend ipsum justo, sed egestas augue pharetra et. Curabitur a pellentesque nisl. Duis tincidunt, ipsum fermentum pretium laoreet, enim odio vestibulum orci, ultrices pellentesque lorem urna ac lectus. Ut faucibus at sapien eleifend.</div>
        <div class="dev-profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu leo mollis, euismod sem ut, tempor turpis. Donec a lacus vel massa mollis viverra. Phasellus dignissim lectus in enim placerat placerat. Nunc ac arcu eget nibh varius efficitur eget sed orci. Mauris libero nibh, vulputate a volutpat ut, ultrices ut est. Morbi dictum interdum accumsan. Nam ultricies sapien sit amet augue cursus, a laoreet neque pulvinar. Vivamus eleifend ipsum justo, sed egestas augue pharetra et. Curabitur a pellentesque nisl. Duis tincidunt, ipsum fermentum pretium laoreet, enim odio vestibulum orci, ultrices pellentesque lorem urna ac lectus. Ut faucibus at sapien eleifend.</div>
        <div class="dev-profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu leo mollis, euismod sem ut, tempor turpis. Donec a lacus vel massa mollis viverra. Phasellus dignissim lectus in enim placerat placerat. Nunc ac arcu eget nibh varius efficitur eget sed orci. Mauris libero nibh, vulputate a volutpat ut, ultrices ut est. Morbi dictum interdum accumsan. Nam ultricies sapien sit amet augue cursus, a laoreet neque pulvinar. Vivamus eleifend ipsum justo, sed egestas augue pharetra et. Curabitur a pellentesque nisl. Duis tincidunt, ipsum fermentum pretium laoreet, enim odio vestibulum orci, ultrices pellentesque lorem urna ac lectus. Ut faucibus at sapien eleifend.</div>
        <div class="dev-profile-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu leo mollis, euismod sem ut, tempor turpis. Donec a lacus vel massa mollis viverra. Phasellus dignissim lectus in enim placerat placerat. Nunc ac arcu eget nibh varius efficitur eget sed orci. Mauris libero nibh, vulputate a volutpat ut, ultrices ut est. Morbi dictum interdum accumsan. Nam ultricies sapien sit amet augue cursus, a laoreet neque pulvinar. Vivamus eleifend ipsum justo, sed egestas augue pharetra et. Curabitur a pellentesque nisl. Duis tincidunt, ipsum fermentum pretium laoreet, enim odio vestibulum orci, ultrices pellentesque lorem urna ac lectus. Ut faucibus at sapien eleifend.</div>
    </div>
</div>