<section class="wrapper style1">
    <div class="inner">
        <!-- 2 Columns -->
        <div class="flex flex-2">
            <div class="col col1">
                <div class="image round fit">
                    <img src="/assets/img/pic01.jpg" alt="" />
                </div>
            </div>
            <div class="col col2">
                <h3>As a developer...</h3>
                <p>Etiam posuere hendrerit arcu, ac blandit nulla. Sed congue malesuada nibh, a varius odio vehicula aliquet.
                    Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue.
                    Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis,
                    nunc justo dictum dui, non aliquet erat nibh non ex.</p>
                <p>Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet,
                    enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum,
                    porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh
                    non ex. </p>
                <a href="/developerlogin" class="button">Start as a developer</a>
            </div>
        </div>
    </div>
</section>