<div class="dev-slider">
    <p id="slider-instruction">indicate proficiency and/or familiarity with the sliders</p>
    <p><label for="range_weight">Angular: <span class="slider_label"></span></label> <input type="range" name="angular" class="slider"
            min="0" max="100" value="0">
        <span class="slider_label"></span>%</p>

    <p><label for="range_weight">CSS: <span class="slider_label"></span></label> <input type="range" name="css" class="slider"
            min="0" max="100" value="0">
        <span class="slider_label"></span>%</p>

    <p><label for="range_weight">HTML: <span class="slider_label"></span></label> <input type="range" name="html" class="slider"
            min="0" max="100" value="0">
        <span class="slider_label"></span>%</p>

    <p><label for="range_weight">Java: <span class="slider_label"></span></label> <input type="range" name="java" class="slider"
            min="0" max="100" value="0">
        <span class="slider_label"></span>%</p>

    <p><label for="range_weight">Javascript: <span class="slider_label"></span></label> <input type="range" name="javascript"
            class="slider" min="0" max="100" value="0">
        <span class="slider_label"></span>%</p>

    <p><label for="range_weight">Node.js: <span class="slider_label"></span></label> <input type="range" name="nodejs" class="slider"
            min="0" max="100" value="0">
        <span class="slider_label"></span>%</p>

    <p><label for="range_weight">React: <span class="slider_label"></span></label> <input type="range" name="react" class="slider"
            min="0" max="100" value="0">
        <span class="slider_label"></span>%</p>
</div>