<section class="wrapper style1">
    <div class="inner">
        <header class="align-center">
            <h2>Who created DevTinder...</h2>
            <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
        </header>
        <div class="flex flex-3">
            {{> MainPage/creator/jVaron}}
            {{> MainPage/creator/rBentin}}
            {{>  MainPage/creator/pWang}}
            {{>  MainPage/creator/marshallT}}
            {{>  MainPage/creator/sSpatson}}
        </div>
    </div>
</section>