<section id="banner">
    <div class="inner">
        <header>
            <h1>DevTinder</h1>
            <p>Platform to connect customers who need dev support on a project<br />to developers who can work on their projects
                based on their expertise</p>
        </header>
        <a href="#main" class="button big scrolly">Learn More</a>
    </div>
</section>