<div class="table-wrapper open-invites">
    <h2>Add Projects</h2>
    <table>
        <thead>
            <tr>
                <th class="customer-add-project-name">Project Name</span></th>
                <th class="customer-add-project-description">Project Description</span></th>
                <th class="customer-add-project-due-date">Due Date <span>(MM/DD/YYYY)</span></th>
                <th class="customer-add-project-cost">Project Cost</span></th>
                 <th class="customer-add-project-html">HTML?</span></th>
                 <th class="customer-add-project-css">CSS?</span></th>
                 <th class="customer-add-project-javascript">Javascript?</span></th>
                 <th class="customer-add-project-java">Java?</span></th>
                 <th class="customer-add-project-nodeJS">NodeJS?</span></th>
                 <th class="customer-add-project-angular">Angular?</span></th>
                 <th class="customer-add-project-react">React?</span></th>
                 <th class="customer-add-project-python">Python?</span></th>
                <th class="customer-add-project-spacer"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="projectName" id="projectName" value="" placeholder="Project Name"></td>
                <td><input type="text" name="projectDes" id="projectDes" value="" placeholder="Enter Description here..."></td>
                <td><input type="text" name="projectDue" id="projectDue" value="" placeholder="Due Date"></td>
                <td><input type="text" name="projectCost" id="projectCost" value="" placeholder="Project Cost"></td>
                <td><input type="text" name="projectHTML" id="projectHTML" value="" placeholder="HTML"></td>
                <td><input type="text" name="projectCSS" id="projectCSS" value="" placeholder="CSS"></td>
                <td><input type="text" name="projectJS" id="projectJS" value="" placeholder="Javascript"></td>
                <td><input type="text" name="projectJava" id="projectJava" value="" placeholder="Java"></td>
                <td><input type="text" name="projectNodeJS" id="projectNodeJS" value="" placeholder="NodeJS"></td>
                <td><input type="text" name="projectAngular" id="projectAngular" value="" placeholder="Angular"></td>
                <td><input type="text" name="projectReact" id="projectReact" value="" placeholder="React"></td>
                <td><input type="text" name="projectPython" id="projectPython" value="" placeholder="Python"></td>
                <td><a id="addProject" href="" class="button fit small icon fa-plus">Add Project</a></td>
            </tr>
        </tbody>
    </table>
</div>