<div class="table-wrapper open-invites">
    <h2>Add Projects</h2>
    <table>
        <thead>
            <tr>
                <th class="customer-add-project-description">Project Description</span></th>
                <th class="customer-add-project-due-date">Due Date <span>(YYYYMMDD)</span></th>
                <th class="customer-add-project-spacer"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="projectDes" id="projectDes" value="" placeholder="Enter Description here..."></td>
                <td><input type="text" name="projectDue" id="projectDue" value="" placeholder="Due Date"></td>
                <td><a href="" class="button fit small icon fa-plus">Add Project</a></td>
            </tr>
        </tbody>
    </table>
</div>