<div class="table-wrapper">
    <h2>Completed Projects</h2>
    <table>
        <thead>
            <tr>
                <th class="customer-completed-project-id">Project id#</th>
                <th class="customer-completed-project-description">Project Description</span></th>
                <th class="customer-completed-project-due-date">Due Date</th>
                <th class="customer-completed-project-finish-date">Finished Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each project}}{{#if isComplete}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td><a href="" class="button fit small icon fa-plus">Match Developer</a></td>
                <td>{{this.updatedAt}}</td>
            </tr>
            {{/if}}{{/each}}
        </tbody>
    </table>
</div>