<div class="table-wrapper">
    <h2>Open Projects</h2>
    <table>
        <thead>
            <tr>
                <th class="customer-open-project-id">Project id#</th>
                <th class="customer-open-project-description">Project Description</span></th>
                <th class="customer-open-project-add-developer">Add Developer</th>
                <th class="customer-open-project-number-developer"># Developer Assigned</th>
                <th class="customer-open-project-due-date">Due Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1041</td>
                <td>This Project will use blank as blank while making sure the path is clear for the path to be delivered to the back end for rendering.</td>
                <td><a href="" class="button fit small icon fa-plus">Match Developer</a></td>
                <td>4</td>
                <td>2019-05-15</td>
            </tr>
        </tbody>
    </table>
</div>