<section class="wrapper style2">
    <div class="inner">
        <div class="flex flex-2">
            <div class="mol col2">
                <h3>As a customer...</h3>
                <p>Your needs and standards are important to us. Thats why here at dev Tinder, we take great pride in matching you with 
                    the right developer to bring your project to life. Through our state of the art matching algorithm, we take parameters
                    specified by you upon "creating a project", compare them to our database of developers, and provide you with a list
                    of developers who are qualified to get the job done!
                </p>
                <p>Simply put, if you have a project that needs to be developed and dont have time to develop it yourself, or if you lack the skills to 
                    bring your project from the drawing board to production, youre in the right place! Create a profile and match with a developer
                    who will bring your project to life!

                </p>
                <a href="/customerlogin" class="button">Start as a customer..</a>
            </div>
            {{!-- Custom Mol conflicting with Col from jquery --}}
            <div class="mol col1 first">
                <div class="image round fit">
                    <img src="/assets/img/pic02.jpg" alt="Customer Picture" />
                </div>
            </div>
        </div>
    </div>
</section>