<div id="LoginForm">
    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Customer Login</h2>
                    <p>Please enter your username and password</p>
                </div>
                <form id="Login">
                    <div class="form-group">
                        <input required type="text" class="form-control" id="inputCuslogin" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input required type="password" class="form-control" id="inputCusPassword" placeholder="Password">
                    </div>
                    <div>
                        <div class="forgot">
                            {{!-- RESET HTML ROUTE --}}
                            <a href="">Forgot password?</a>
                        </div>
                        <div class="signup">
                            {{!-- SINGUP HTML ROUTE --}}
                            <a href="/devsignup">New Customer? Signup here!</a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
        {{!-- This page will fill the remaining page with gradient color --}}
    </div>
</div>