<div id="signupform">
    <div class="container">
        <div class="signup-form">
            <div class="sign-main-div">
                {{!-- Route to Developer Reg Page --}}
                <div class="switch"><a href="">Go to Developer Registration Page</a></div>
                <div class="signage">
                    <h2>Customer Registration</h2>
                    <p>Please fill out all required information to begin..</p>
                </div>
                <div class="wrapper-div">
                    <form id="signup">
                        <div class="form-list">
                            <input required type="text" class="form-ctrl" id="inputFirst" placeholder="First Name">
                            <input required type="text" class="form-ctrl" id="inputLast" placeholder="Last Name">
                        </div>
                        <div class="form-list">
                            <input required type="text" class="form-ctrl" id="inputUsername" placeholder="Username (At least 6 characters)">
                        </div>
                        <div class="form-list">
                            <input required type="text" class="form-ctrl" id="inputPassword1" placeholder="Password (At least 6 characters)">
                        </div>
                        <div class="form-list">
                            <input required type="text" class="form-ctrl" id="inputPassword2" placeholder="Retype Password (Must Match)">
                        </div>
                        <div class="form-list">
                            <input required type="text" class="form-ctrl" id="inputPhoto" placeholder="Photo (Must be external URL: https://www.google.com/)">
                        </div>
                    
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        {{!-- This page will fill the remaining page with gradient color --}}
        <br>
    </div>
</div>