<section class="wrapper style2">
    <div class="inner">
        <div class="flex flex-2">
            <div class="mol col2">
                <h3>As a customer...</h3>
                <p>Etiam posuere hendrerit arcu, ac blandit nulla. Sed congue malesuada nibh, a varius odio vehicula aliquet.
                    Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue.
                    Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis,
                    nunc justo dictum dui, non aliquet erat nibh non ex.</p>
                <p>Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet,
                    enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum,
                    porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh
                    non ex. </p>
                <a href="/customerlogin" class="button">Start as a customer..</a>
            </div>
            {{!-- Custom Mol conflicting with Col from jquery --}}
            <div class="mol col1 first">
                <div class="image round fit">
                    <img src="/assets/img/pic02.jpg" alt="Customer Picture" />
                </div>
            </div>
        </div>
    </div>
</section>