<div class="card">
    <img src="/assets/img/exampleDeveloper.jpg" alt="John" style="width:100%">
    <h1>Laura Davis</h1>
    <p class="title">Software / Full-stack Developer</p>
    <a href="/1" class="button alt small fit" id="viewprofile">View Developer Profile</a>
    <a href="/addto" class="button small fit" id="addproject">Invite</a>    
</div>