<div class="card">
    <div class="developer-profilecard-photo">
    <img src="/assets/img/exampleDeveloper.jpg" alt="developer_profile_image"></div>
    <h1 id="profilecard-name">Laura Davis</h1>
    <p class="title">Software / Full-stack Developer</p>
    {{!-- <a href="" class="button alt small fit not-active" id="rating"><i class="icon fa-star rating">62</i><i class="icon fa-thumbs-up rating">50</i><i class="icon fa-thumbs-down rating">12</i></a> --}}
    <a href="/1" class="button alt small fit icon fa-info-circle" id="viewprofile">View Developer Profile</a>
    <a href="/addto" class="button small fit icon fa-plus" id="addproject">Invite to project</a>    
</div>