<div class="profileparent">
    <div class="sidenav">
        <div class="image round fit">
            <img src="/assets/img/exampledeveloper.jpg" alt="developer photo" />
        </div>
        <div class="navlist">
            <h4>Laura Davis</h4>

            <a href="" class="button alt small fit icon fa-info-circle">Profile Settings</a>
            <a href="" class="button alt small fit icon fa-inbox">Open Invites</a>
            <a href="" class="button alt small fit icon fa-folder-open">Open Projects</a>
            <a href="" class="button alt small fit icon fa-briefcase">Completed Projects</a>
            <a href="" class="button alt small fit icon fa-plus">Hibernate</a>
        </div>
    </div>
    <div class="developercontrol-view">
        <div class="section">
            <div class="4u 12u$(medium)">
                <h3>Faucibus consequat lorem</h3>
            </div>
        </div>
        <div class="section">2</div>
        <div class="section">3</div>
        <div class="section">4</div>
        <div class="section">5</div>
    </div>
</div>