<div class="profileparent">
    <div class="sidenav">
        <div class="image round fit">
            <img src="/assets/img/examplecustomer.jpg" alt="" />
        </div>
        <div class="navlist">
            <h4>Daniel Smith</h4>
            <a href="/" class="button alt small fit" id="newproject">New Project</a>
            <a href="/" class="button alt small fit" id="openproject">Open Project</a>
            <a href="/" class="button alt small fit" id="completedproject">Completed Project</a>
        </div>
    </div>
    <div class="profilebody">
        <div class="cus-profile-content helper" id="newproject">
        </div>
        <div class="cus-profile-content" id="openproject">
        </div>
        <div class="cus-profile-content" id="completedproject">
        </div>
    </div>
</div>